.stApp {
    background: linear-gradient(180deg, #F7FCFF 0%, #EAF6FF 50%, #DDEFFF 100%);
    font-family: 'Segoe UI', 'Quicksand', system-ui, sans-serif;
}

h1,
.stMarkdown h1 {
    color: #2B6CB0 !important;
    text-align: left !important;
    font-size: 40px !important;
    font-weight: 700 !important;
    margin-bottom: 2px !important;
}

h2,
h3,
.stMarkdown h2,
.stMarkdown h3 {
    color: #3182CE !important;
    font-weight: 600 !important;
    font-size: 32px !important;
}

p,
span,
div,
label,
.stTextInput label,
.stSelectbox label {
    color: #2D3748;
}

.stCaption {
color: #718096 !important;
}

.stButton>button {
    background-color: #8CC0EB!important;
    color: white !important;
    border: none !important;
    border-radius: 20px !important;
    padding: 10px 32px !important;
    font-weight: 700 !important;
    font-size: 24px !important;
    transition: all 0.3s ease !important;
}

.stButton>button:hover {
    transform: translateY(-2px);
    background: linear-gradient(135deg, #4299E1 0%, #3182CE 100%) !important;
}

.stButton>button:disabled {
    background: #A0AEC0 !important;
    transform: none;
}

.stTextInput input {
    background: white !important;
    border: 2px solid #BEE3F8 !important;
    box-shadow: 0 0 0 3px rgba(99, 179, 237, 0.25) !important;
    border-radius: 5px !important;
}

.stSelectbox>div>div {
    background: white !important;
    border-radius: 16px !important;
    border: 2px solid #BEE3F8 !important;
}

/* ===== INFO BOX (Raul) ===== */
.stInfo {
    background-color: rgba(144, 205, 244, 0.2) !important;
    border-radius: 20px !important;
    border-left: 5px solid #63B3ED !important;
}

.stInfo,
.stInfo p {
    color: #2D3748 !important;
}

/* ===== DATAFRAME ===== */
.dataframe {
    background: white !important;
    border-radius: 15px !important;
    overflow: hidden !important;
}

.dataframe th {
    background: #63B3ED !important;
    color: white !important;
    padding: 12px !important;
}

.dataframe td {
    background: white !important;
    color: #2D3748 !important;
    padding: 10px !important;
}

/* ===== MÉTRICAS ===== */
[data-testid="stMetricValue"] {
    color: #2C5282 !important;
    font-size: 2rem !important;
}

[data-testid="stMetricLabel"] {
    color: #4A5568 !important;
}


.floating-penguin {
    animation: float 2s ease-in-out infinite;
}